{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/typescript",
    "patronum/babel-preset"
  ],
  "plugins": ["effector/babel-plugin"]
}
